<table class="posts">
	<tr>
		<th>Title</th>
		<th>Body</th>
		<th>Author</th>
	</tr>
	<% @posts.each do |post| %>
	<tr>
		<td><%= link_to post.title, post %></td>
		<td><%=h post.body[0..10]%></td>
		<td><%=h post.user.login %></td>
	</tr>
	<% end %>
</table>
